.products-page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;

	/*max-height: 350px;*/
	/*overflow-y: scroll;*/
}

.products-page--has-single-product {
	justify-content: center;
}
